.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e0e0e0;
    height: 100vh;
    width: 100vw;
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        h2 {
            text-align: center;
            font-weight: 500;
        }
        
    }
    &__container {
        margin: auto;
        background-color: #fff;
        padding: 1rem 3rem 3rem 3rem;
        border-radius: 2rem;
        h1{
            font-weight: 500;
        }
        p{
            text-align: center;
            color:rgb(0, 110, 255);
            font-size: 1rem;
            width: 400px;
            margin: auto;
        }
    }
}